[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
flake8 = "*"
pytest = "*"
isort = "*"

[packages]
requests = "*"
pytz = "*"
stripe = "*"
boto3 = "*"
squareup = "*"
oauth2 = "*"
python-quickbooks = "*"
intuit-oauth = "*"
google-auth = "*"
google-api-python-client = "*"
sentry-sdk = "*"
pandas = "*"
gspread-pandas = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
